* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #3b4664;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 310px;
}

.Calculator {
  min-width: 300px;
  margin: 1rem;
}

h1 {
  margin: 1rem;
  color: white;
}

.input-text {
  width: 84%;
  background-color: #181f32;
  letter-spacing: 0.2rem;
  padding: 2rem 0.4rem;
  margin: 1rem;
  border-radius: 10px;
  text-align: end;
  border: none;
  font-size: xx-large;
  color: white;
}

.input-text::placeholder {
  font-size: xx-large;
  color: white;
}

/* keypads */
.keypads {
  background-color: #252d44;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  width: 80%;
}

.row {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  justify-content: space-between;
  cursor: pointer;
}

.row > div {
  display: grid;
  place-items: center;
  background-color: white;
  width: 4.3rem;
  height: 3rem;
  border-radius: 10px;
  font-size: large;
  font-weight: 600;
}

.row1 > .delete-key {
  color: white;
  background-color: #647299;
}

.row5 > .reset-key {
  color: white;
  background-color: #647299;
  width: 50%;
}

.row5 > .equal-key {
  color: white;
  background-color: red;
  width: 50%;
}
